* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/duck.jpg) no-repeat center center fixed;
    background-size: cover;
    user-select: none;
}

.text-head {
    text-indent: 2em;
    line-height: 1.5em;
}

.text-center {
    text-align: center;
}

.github {
    position: fixed;
    left: 3%;
    top: 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: black solid 3px;
    box-shadow: #999 3px 5px;
    z-index: 0;
}

.head-line {
    text-indent: 2em;
}

.head-attention {
    text-align: center;
    color: red;
}

.head-tabel {
    height: auto;
    padding: 1% 10px 5px;
    margin: 1% 20% 20px;
    background: rgb(250, 249, 218, 0.35);
    border-radius: 10px;
}

.logo {
    display: block;
    width: 30%;
    min-width: 150px;
    margin: 5px auto 10px;
}

.logo-next {
    margin: 0px 1% 0px;
    padding: 15px 3% 5px;
    border: 7px ridge skyblue;
    border-right: 7px groove skyblue;
    border-bottom: 7px groove skyblue;
    background: rgb(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
}

.test {
    width: 100px;
    height: 1500px;
    margin: auto;
    border: red 1px solid;
    text-align: center;
}