.contEnd {
    padding: 10px 5%;
}

.flexBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxEzp{
    width: 100px;
    height: 100px;
    margin: 15px 10px;
    background-color: snow;
    border: 5px ridge aqua;
    line-height: 100px;
}

.boxEzpt{
    height: 100px;
    margin: 15px 10px;
    background-color: snow;
    border: 5px ridge aqua;
    line-height: 100px;
    flex: 1;
}

.flexBox2{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}